fastapi
uvicorn
pydantic
typing_extensions
python-dotenv
python-multipart
pypdf
pandas
sqlalchemy
psycopg2-binary
neo4j
redis
langchain
langchain-community
langchain-openai
langchain-text-splitters
langgraph
openai
